body{
    background-color: aquamarine;
}
.container {
    width: 90%;
    height: 90vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  100px;
    margin-right: 100px;
}

.calculator{
    background-color: antiquewhite;
    border-radius: 20px;
 
}

.button{
    background-color: rgb(179, 179, 77);
    text-align: center;
    border: 12;
   
}

.button:hover{
    background-color: #988688;
    color: #fff;
    transform: translateY(-7px);
    font-size: small;
}