body{
    background-color: aquamarine;
}
.container {
    width: 90%;
    height: 90vh;
    background: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  100px;
    margin-right: 100px;
}

.calculator{
    background: gray;
    border-radius: 20px;
    padding: 20px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin: 10px;
}

form .display{
display: flex;
justify-content: flex-end;
margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}



.button{
    background-color: rgb(179, 179, 77);
    text-align: center;
    border: 12;
   
}

.button:hover{
    background-color: #988688;
    color: #fff;
    transform: translateY(-7px);
    font-size: small;
}